*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--brand-color);
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

div {

    display: block;
}

ul {

    padding: 0%;
}
.navig {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    gap: 40px;

}


.topdiv {
    display: flex;
    justify-content: space-between;

}

.first-button {
    display: block;
    align-items: center;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--button-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.top-head {
    border-bottom: 1px solid #e7e9fc;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    width: 1440px;
    flex-shrink: 0;
}

.top-line {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

img {
    display: block;
}

:root {
    --brand-color: #FFFFFFFF;
    --blue: #4d5ae5;
    --dark-blue: #2e2f42;
    --more-blue: #434455;
    --light-color: #F4F4FD;
    --button-color: #4d5ae5;
    --main-button: #e7e9fc;
    --link-color: #8e8f99;
}

.container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}



.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue);


}


.link {
    text-decoration: none;
    display: block;
}

.link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.logo-studio-dark {
    color: var(--dark-blue);
}

.list {

    list-style: none;
}

.contact {
    font-style: normal;
}

.contacts {
    font-style: normal;
}

.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--more-blue);
    font-style: normal;
}

.index {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue);
    text-decoration: none;
}

.index:hover {
    color: #404bbf;
}

.index:focus {
    color: #404bbf;
}

.contact {
    color: var(--more-blue);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact:hover {
    color: #404bbf;
}

.contact:focus {
    color: #404bbf;
}

.first {
    color: var(--dark-blue);
    background-color: var(--dark-blue);
    padding: 188px 0;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    align-items: center;

}

.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.section-title {

    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;

}

.btn {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}

.btn:hover {
    background-color: #404bbf;
}

.btn:focus {
    background-color: #404bbf;
}

.btn {
    cursor: pointer;
}

.titlefour {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue);
}

.firsttitle {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.titleh {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue);
}


.lastsection {
    background-color: #F4F4FD;
}

.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.ord {
    background-color: #FFFFFFFF;
}

.lastpart {
    background-color: var(--dark-blue);
    padding: 100px 0;
}

.description {
    line-height: 1.5;
    color: var(--light-color);
    letter-spacing: 0.02em;
}

.custom-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue);
}

.teamp {
    background-color: #FFFFFFFF;
}

.firsttitle {
    color: var(--more-blue)
}

.logoc {
    color: #f4f4fd;
}

.firstbtn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-color);
    background-color: var(--light-color);
}

.firstbtn:hover {
    color: #FFFFFFFF;
    background-color: #404bbf;
}

.firstbtn:focus {
    color: #FFFFFFFF;
    background-color: #404bbf;
}

.firstbtn {
    cursor: pointer;
}

.first-row {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hidden-title {
    visibility: hidden;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.first-row-list {
    display: flex;
    gap: 24px;
}



.title-first-element {
    margin-bottom: 8px;
}

.third-section {
    padding-bottom: 120px;
}

.title-second-element {
    margin-bottom: 72px;
}

.second-row-list {
    display: flex;
    gap: 24px;
}



.last-row {
    display: flex;
    padding: 120px 0;
}

.last-title {
    margin-bottom: 72px;
}

.last-list {
    display: flex;
    gap: 24px;
}

.last-element {

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.first-name {
    padding: 32px 0;
}

.title-name {
    text-align: center;
    margin-bottom: 8px;
}

.job {
    text-align: center;
}

.logo-st {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 76px;
}

.last-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
    font-weight: 400px;
    line-height: 1.5;
}


.portf-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.main-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.main-btn {
    border: 1px solid var(--main-button);
    border-radius: 4px;
    padding: 12px 24px;
}

.main-btn:hover {
    border: 1px solid transparent;
}

.main-btn:focus {
    border: 1px solid transparent;

}

.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0%;
}



.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-title {
    margin-bottom: 8px;
}





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.last-element {
    width: 100%;
    min-width: 264px;
}

.heroi {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img15.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-all:hover {

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.btn-all:focus {

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ant {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.social {

    display: flex;
    justify-content: center;
    gap: 24px;

}

.insta {
    width: 40px;
    height: 40px;
}

.instagr {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.instagr:hover {
    background-color: #404bbf;
}

.instagr:focus {
    background-color: #404bbf;
}

.firstred {
    fill: var(--light-color);

}

.social {
    list-style: none;
    padding-inline-start: 0%;
}

.custom-class {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-cust {
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-blue);
    margin-bottom: 72px;
    text-align: center;
}

.list-cust {
    display: flex;
    gap: 24px;
    list-style-type: none;
    height: 88px;
    padding: 0%;

}



.link-customer {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--link-color);
}

.link-customer:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.link-customer:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.icon-class {
    fill: currentColor;
}

.section-five-list {
    width: calc((100% - 120px) / 6);
}

.foot-div {

    display: flex;
    align-items: baseline;

}

.footer-div-logo {

    margin-right: 120px;
    flex-direction: column;
    display: inline-block;
}

.scp {
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);

}

.ul-div-class {
    display: flex;
    gap: 16px;
    justify-content: center;
    list-style-type: none;

}

.last-element-div {
    width: 40px;
    height: 40px;
}

.last-link {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.last-link:hover {
    background-color: #31d0aa;
}

.last-link:focus {
    background-color: #31d0aa;
}

.firstredsocial {
    fill: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-end: 0%;

}

